{% extends 'admin_app/base.html' %}

{% block title %}Детали аптеки{% endblock title %}

{% block content %}
    <div class="detail_page">
        <h1>Страница сведений об аптеке</h1>
        <img src="{{ pharmacy.photo.url }}" alt="{{ pharmacy.title }}" class="detail_img">
        <p><b>Название:</b><br> {{ pharmacy.name }}</p>
        <p><b>Имя фармацевта:</b><br> {{ pharmacy.pharmacist.name }}</p>
        <p><b>Телефон фармацевта:</b><br> {{ pharmacy.pharmacist.phone }}</p>
        <p><b>Телефон аптеки:</b><br> {{ pharmacy.phone }}</p>
        <p><b>Адрес аптеки:</b><br> {{ pharmacy.address }}</p>
        <div style="margin: 20px;">
            <a href="{% url 'admin_app:pharmacy_location' pharmacy.pk %}" class="block_btn">На карте</a><br><br>
            {% if user.is_superuser == True %}
                <a href="{% url 'admin_app:pharmacy_update' pharmacy.pk %}" class="block_btn detail_btn_p">Обновить</a>
                <a href="{% url 'admin_app:pharmacy_delete' pharmacy.pk %}"
                   class="block_btn detail_btn_ll">Удалить</a><br><br>
            {% endif %}
            {% if not user.is_superuser %}
                {% if pharmacy.pharmacist == user %}
                    <a href="{% url 'admin_app:my_pharmacy_orders' pharmacy.pk %}"
                       class="block_btn detail_btn_p">Заказы</a><br><br>
                {% endif %}
            {% endif %}
            <a href="{% url 'admin_app:pharmacy_list' %}" class="block_btn detail_btn_f">Назад</a>
        </div>
    </div>
{% endblock %}
