{% extends 'client_app/base.html' %}

{% block title %}Вход{% endblock title %}

{% block content %}
    <div class="form_page login">
        <h1>Авторизации</h1>
        <form action="" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% for f in form %}
                {{ f.label }}<br>
                {{ f }}<br><br>
            {% endfor %}
            <input type="submit" value="Войти" class="detail_btn detail_btn_p"><br><br>
            <a href="{% url 'client_app:start_page' %}" class="detail_btn">Назад</a>
        </form>
    </div>
{% endblock %}
