{% extends 'client_app/base.html' %}

{% block title %}Заказы для доставки{% endblock title %}

{% block content %}
    <input type="checkbox" id="filter_toggle_small" hidden>
    <div class="filter_small">
        <label for="filter_toggle_small" class="filter_toggle_small" onclick></label>
        <h2>Фильтр</h2>
        <form action="" method="get">
            {% csrf_token %}
            {{ order_filter.form.as_p }}
            <input type="submit" value="Поиск" class="block_btn block_btn_f">
        </form>
    </div>
    <div class="order_page">
        <h1 id="main_list">Заказы</h1>
        {% for order in order_filter.qs %}
            <div class="order">
                <div>
                    <p><b>Список продуктов:</b><br> {{ order.products_string|safe }}</p>
                    {% if order.courier == None %}
                        <p><b>Курьер:</b> отсутствует</p>
                    {% else %}
                        <p><b>Имя курьера:</b> {{ order.courier.name }}</p>
                        <p><b>Телефон курьера:</b> {{ order.courier.phone }}</p>
                    {% endif %}
                    <p><b>Итоговая цена:</b> {{ order.total_price }}</p>
                    <p><b>Статус заказа:</b> {{ order.status }}</p>
                    {% if order.status != 'доставлено' %}
                        <a href="{% url 'client_app:delete_order' order.pk %}"
                           class="block_btn detail_btn_ll">Отменить заказ</a><br><br>
                    {% endif %}
                    <a href="{% url 'client_app:order_detail' order.pk %}"
                       class="block_btn">Подробнее</a><br><br>
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% else %}
                    <a href="#main_list">First</a>
                    <a href="#main_list">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                {% else %}
                    <a href="#main_list">Next</a>
                    <a href="#main_list">Last</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}